<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.milk.mapper.EvaluationReplyMapper">


    <insert id="insert">
        insert into evaluation_reply(evaluation_id,reply_content,admin_id,reply_time)
        values (#{evaluationId},#{replyContent},#{adminId},#{replyTime})
    </insert>
</mapper>
